@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        scroll-behavior: auto;
    }
}

@media(min-width: 750px) {
    #table-wrapper {
        width: 80vw;
    }
}

@media(prefers-color-scheme: dark) {
    header, footer {
        background-color: rgb(84, 10, 84);
    }
    body {
        color: white;
        background-color: rgb(23, 3, 23);
    }

    a {
        color: rgb(124, 215, 231);
    }

    td:nth-child(2n + 1) {
        background-color: rgb(7, 33, 55);
    }

    label[for="show_best"] {
        color: rgb(101, 243, 155);
    }

    label[for="show_recent"] {
        color: orange;
    }
}